#root {
  margin: 0;
  padding: 0;
}

#map {
  width: 100dvw;
  height: 100dvh;
}

#style-switcher {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background: hsl(0 0% 100% / 80%);
  padding: 0.5rem;
  border-radius: 0.4rem;
  line-height: 1;

  #button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  button {
    background: none;
    color: hsl(200 50% 30%);
    border: solid 2px transparent;
    border-top-color: hsl(200 50% 50% / 50%);
    border-bottom-color: hsl(200 50% 50% / 50%);
    padding: 0.1rem 0.2rem 0.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
  }
  button::before {
    content: ">> ";
    color: transparent;
    padding-right: 0.5rem;
    transition: all 0.5s;
  }
  button::after {
    content: " <<";
    color: transparent;
    padding-left: 0.5rem;
    transition: all 0.5s;
  }
  button.selected {
    border-top-color: hsl(200 50% 50%);
    border-bottom-color: hsl(200 50% 50%);
    transition: all 0.5s;
  }
  button.selected::before,
  button.selected::after {
    color: hsl(200 50% 50%);
    transition: all 0.5s;
  }
}
